<div class="modal fade" id="modalDicas" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Dicas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <h1>Dicas de Vida saudável</h1>

            <p>Quisque condimentum odio vel mauris vestibulum accumsan</p>

            <p>Quisque condimentum odio vel mauris vestibulum accumsan</p>

            <p>Quisque condimentum odio vel mauris vestibulum accumsan</p>
        </div>
      </div>
    </div>
  </div>