<div class="modal fade" id="modalApoiadores" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Apoiadores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="~/image/figura3.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Empresa 1 </h5>
              <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a
                um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
            </div>

          </div>
          <div class="card">
            <img class="card-img-top" src="~/image/figura4.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Empresa 2</h5>
              <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um
                conteúdo adicional.</p>
            </div>

          </div>
          <div class="card">
            <img class="card-img-top" src="~/image/figura5.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Empresa 3</h5>
              <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a
                um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual,
                em ação.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>